.comics{
    width: 1920px;
    background-color: rgb(28,28,28);
    color: white;
        .container{

            .row{
                padding-top: 35px;
                .fumetto{
                    width: 80%;
                    height: auto;
                    
                    img{
                        width: 100%;
                        height: auto;
                    }
            
            
                }

            }

        }
    

}
